<!DOCTYPE html>
<html>
    <head>
        <title>Login page</title>
        <style>
            h1{
                color: green;
                text-align: center;
            }
            
            body {
                background-image: url("https://img.freepik.com/free-photo/rows-books-library_73152-2680.jpg?size=626&ext=jpg");
            }            
        </style>
    </head>  
      
    <body>
        <h1>
            Hello!
        </h1>
        Hello, {{name}}!!!!<br>
        You have succesfully logged in<br><br>
        <form class="form-inline" method="post" action="{{ url_for('search') }}">
            <div class="form-group">
              <div class="input-group">
                  <span class="input-group-addon">Please select</span>
                      <select name="comp_select" class="selectpicker form-control">
                        {% for o in data %}
                        <option value="{{ o.name }}">{{ o.name }}</option>
                        {% endfor %}
                      </select>
              </div><br>
              <button type="submit" class="btn btn-default">Enter</button>
            </div>
          </form><br>
          
        <form action="/">
            <button type="submit" class="logout" value="Logout">Logout</button>
        </form>
    </body>
</html>


