<!DOCTYPE html>
<html>
    <head>
        <title>search</title>
        <style>
            h1{
                color: green;
                text-align: center;
            }
            
            body {
                background-image: url("https://img.freepik.com/free-photo/rows-books-library_73152-2680.jpg?size=626&ext=jpg");
            }            
        </style>
    </head>
    <body>
        <p>
            {{holder}} in the following search box to get the books
        </p>

        <form role="form" method='POST' action="{{ url_for('results') }}">
            <div class="form-group">                
              <input type="search" name="option" class="form-control" id="url-box" placeholder= "{{holder}}" style="max-width: 300px;" autofocus required>
            </div><br>
            <button type="submit" class="btn btn-default">Go</button>
            <h3 style="color:red;"> {{message}} </h3>
            <p>
                <!-- {{option}}<br>  -->
                {{result}} 
                <!-- <h3 style="color:red;"> {{message}} </h3>         -->
                
            </p>
          </form>
          <br>
          
        <!-- <form action= "{{ url_for('search') }}" method="post">            
            <input type = "search", placeholder="{{holder}}">
            <h3 style="color:red;"> {{message}} </h3>
        </form> <br><br>         -->
    </body>
</html>
        