<!DOCTYPE html>
<html>
    <head>
        <title>search</title>
        <style>
            h1{
                color: green;
                text-align: center;
            }
            
            body {
                background-image: url("https://img.freepik.com/free-photo/rows-books-library_73152-2680.jpg?size=626&ext=jpg");
            }            
        </style>
    </head>
    <body>
        <h1>Books Results</h1>
        <p>            
            {{result}}            
            
        </p> 
        
    </body>
</html>
        